In [1]:
import pandas as pd

In [2]:
pd.read_csv('./data/geeks.csv')

       이름                  직업     국적            트위터         생년월일
0     이성주   컴퓨터 프로그래머/데이터 과학자   대한민국   @LeeSeongjoo   1982-12-27
1  Rossum           컴퓨터 프로그래머   네덜란드    @gvanrossum   1956-01-31
2  Turing              컴퓨터과학자     영국            NaN   1912-06-23

In [6]:
# 텍스트 파일은 인코딩이 있습니다. 코드 작성 환경의 인코딩과 일치하지 않을 수 있습니다.
pd.read_csv('./data/geeks_cp949.txt', encoding='cp949')
# 인코딩은 대부분 UTF-8, CP949 정도 입니다. 인코딩 정보는 사전에 알고 있어야 합니다.
# 한글 윈도우 메모장에서 작성된 텍스트 파일은 기본으로 CP949 인코딩으로 설정됩니다.

       이름                  기술     국적            트위터         생년월일
0     이성주   컴퓨터 프로그래머/데이터 과학자   대한민국   @LeeSeongjoo   1982-12-27
1  Rossum           컴퓨터 프로그래머   네덜란드    @gvanrossum   1956-01-31
2  Turing              컴퓨터과학자     영국            NaN   1912-06-23

In [9]:
# 첫 번째 행이 열 제목이 아닐 수 있습니다.
# 1. 열 제목이 없다고 알려줄 수 있습니다.
pd.read_csv('./data/geeks_no_header.csv', header=None)

        0                   1      2              3            4
0     이성주   컴퓨터 프로그래머/데이터 과학자   대한민국   @LeeSeongjoo   1982-12-27
1  Rossum           컴퓨터 프로그래머   네덜란드    @gvanrossum   1956-01-31
2  Turing              컴퓨터과학자     영국            NaN   1912-06-23

In [12]:
# 2. 열제목을 직접 제공할 수 있습니다.
pd.read_csv('./data/geeks_no_header.csv', names=['이름', '직업', '국적', '트위터', '생년월일'])

       이름                  직업     국적            트위터         생년월일
0     이성주   컴퓨터 프로그래머/데이터 과학자   대한민국   @LeeSeongjoo   1982-12-27
1  Rossum           컴퓨터 프로그래머   네덜란드    @gvanrossum   1956-01-31
2  Turing              컴퓨터과학자     영국            NaN   1912-06-23

In [13]:
프로그래머 = pd.read_csv('./data/geeks.csv', encoding='utf8')

In [14]:
프로그래머

       이름                  직업     국적            트위터         생년월일
0     이성주   컴퓨터 프로그래머/데이터 과학자   대한민국   @LeeSeongjoo   1982-12-27
1  Rossum           컴퓨터 프로그래머   네덜란드    @gvanrossum   1956-01-31
2  Turing              컴퓨터과학자     영국            NaN   1912-06-23

In [15]:
# 열제목으로 선택할 수 없음
프로그래머['직업']

KeyError: '직업'

In [17]:
# 열제목을 출력해보니 공백이 있음
프로그래머.columns

Index(['이름', ' 직업', ' 국적', ' 트위터', ' 생년월일'], dtype='object')

In [18]:
# 각 열제목 문자열을 정리해주는 것이 바람직해 보입니다.
'               직업          '.strip()

'직업'

In [28]:
#열제목 = []
#for 제목 in 프로그래머.columns:
#    정리한제목 = 제목.strip()
#    열제목.append(정리한제목)
#
#프로그래머.columns = 열제목
#프로그래머.columns
프로그래머.columns = list(map(lambda x : x.strip(), 프로그래머.columns))
프로그래머.columns

Index(['Unnamed: 0', '이름', '직업', '국적', '트위터', '생년월일'], dtype='object')

In [22]:
프로그래머['직업']

0     컴퓨터 프로그래머/데이터 과학자
1             컴퓨터 프로그래머
2                컴퓨터과학자
Name: 직업, dtype: object

In [23]:
# 텍스트 파일로 내보내기
프로그래머.to_csv('./data/프로그래머.csv')

In [24]:
프로그래머 = pd.read_csv('./data/프로그래머.csv', encoding='utf8')

In [26]:
# 이상한 열이 있음
프로그래머

   Unnamed: 0      이름                  직업     국적            트위터         생년월일
0           0     이성주   컴퓨터 프로그래머/데이터 과학자   대한민국   @LeeSeongjoo   1982-12-27
1           1  Rossum           컴퓨터 프로그래머   네덜란드    @gvanrossum   1956-01-31
2           2  Turing              컴퓨터과학자     영국            NaN   1912-06-23

In [29]:
프로그래머 = 프로그래머.ix[:,1:]
프로그래머

       이름                  직업     국적            트위터         생년월일
0     이성주   컴퓨터 프로그래머/데이터 과학자   대한민국   @LeeSeongjoo   1982-12-27
1  Rossum           컴퓨터 프로그래머   네덜란드    @gvanrossum   1956-01-31
2  Turing              컴퓨터과학자     영국            NaN   1912-06-23

In [30]:
# 구분자는 기본적으로 쉼표(,) 입니다. 원하는 구분자를 직접 설정하는 것도 가능합니다.
프로그래머.to_csv('./data/프로그래머2.csv', sep=':')

In [34]:
pd.read_csv('./data/프로그래머2.csv', sep=":")

   Unnamed: 0      이름                  직업     국적            트위터         생년월일
0           0     이성주   컴퓨터 프로그래머/데이터 과학자   대한민국   @LeeSeongjoo   1982-12-27
1           1  Rossum           컴퓨터 프로그래머   네덜란드    @gvanrossum   1956-01-31
2           2  Turing              컴퓨터과학자     영국            NaN   1912-06-23

In [45]:
# 파이썬의 문자열은 유니코드로 표현됩니다.
# 파이썬의 세상을 벗어 날때는 문자열은 반드시 인코딩이 적용되어야 합니다.
# 유니코드가 우리가 머리속에 가진 생각이라면 인코딩은 그 생각을 표현하는 언어에 비유할 수 있습니다.
# http://www.slideshare.net/LeeSeongjoo/2-17395073

In [42]:
유니코드문자열 = '파이썬'
유니코드문자열.encode('utf8')

b'\xed\x8c\x8c\xec\x9d\xb4\xec\x8d\xac'

In [43]:
유니코드문자열.encode('utf16')

b'\xff\xfe\x0c\xd3t\xc7l\xc3'

In [44]:
유니코드문자열.encode('cp949')

b'\xc6\xc4\xc0\xcc\xbd\xe3'

## 엑셀파일


파일은 크게 두 종류가 있습니다.
* 텍스트 : 어느 텍스트 편집기에서나 열 수 있고, 편집할 수 있습니다. (인코딩이 올바르다는 가정하에)
* 바이너리 : 해당 파일의 형식을 이해하는 전용 앱이 필요함. (엑셀, 워드 등)

In [48]:
경로 = './data/koreaexim/international/Global+Market+Daily+Table%28값복사%29_0803.xls'
pd.read_excel(경로)

                                              Global Market Daily Update  \
NaN NaN                                                              NaN
    NaN                                                              NaN
    NaN                                                           Equity
    NaN                                                              NaN
    MXWD Index                                             MSCI AC World
    SPX Index                                                    S&P 500
    SX5E Index                                             Euro Stoxx 50
    DAX Index                                                        DAX
    NKY Index                                                 Nikkei 225
    SHCOMP Index                                                      상해
    NaN                                                              NaN
    NaN                                                     Fixed Income
    NaN                                                              NaN
    USGG10YR Index                                               UST 10Y
    USGG2YR Index                                                 UST 2Y
    USGG10YR-USGG2YR                                      Spread(10Y-2Y)
    GECU10YR Index                                              Bund 10Y
    GECU2YR Index                                                Bund 2Y
    GECU10YR - GECU2YR                                    Spread(10Y-2Y)
    NaN                                                              NaN
    NaN                                                               FX
    NaN                                                              NaN
    DXY Curncy                                              Dollar Index
    EURUSD Curncy                                                    EUR
    GBPUSD Curncy                                                    GBP
    USDJPY Curncy                                                    JPY
    AUDUSD Curncy                                                    AUD
    NaN                   * D-1,D-7,MTD,QTD,YTD 변동분은 USD 대비 해당 통화 가치의 변동
    NaN                                                              NaN
    NaN                                                       Commodity
    NaN                                                              NaN
    CLA COMDTY                                                       WTI
    GCA COMDTY                                                      Gold
    C A COMDTY                                                      Corn
    NaN                                                              NaN
    NaN                                                              NaN
    NaN                                                              CDS
    NaN                                                              NaN
    CCHIN1U5 CBIT CURNCY                                           China
    CINO1U5 CBIT CURNCY                                        Indonesia
    CMLAY1U5 CBIT CURNCY                                        Malaysia
    CTHAI1U5 CBIT CURNCY                                        Thailand
    cruss1u5 cbit curncy                                          Russia
    CSOAF1U5 CBIT CURNCY                                    South Africa
    CTURK1U5 CBIT CURNCY                                          Turkey
    CBRZ1U5 CBIT CURNCY                                           Brazil
    CKREA1U5 CBIT CURNCY                                           Korea
    NaN                                                              NaN
    NaN                                                              NaN
    NaN                                                            Japan
    NaN                                                            Italy
    NaN                                                            Spain

                             Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  \
NaN NaN                             NaN         NaN         NaN         NaN
    NaN                             NaN         NaN         NaN         NaN
    NaN                             NaN         NaN         NaN         NaN
    NaN                      Last Price         D-1         D-7         MTD
    MXWD Index                   425.32 -0.00342097   0.0141638 -0.00342097
    SPX Index                   2098.04 -0.00275686   0.0147028 -0.00275686
    SX5E Index                   3635.4  0.00963982   0.0348126  0.00963982
    DAX Index                   11443.7   0.0119135   0.0350313   0.0119135
    NKY Index                   20548.1 -0.00180372  0.00973017 -0.00180372
    SHCOMP Index                3622.91  -0.0111417  -0.0275537  -0.0111417
    NaN                             NaN         NaN         NaN         NaN
    NaN                             NaN         NaN         NaN         NaN
    NaN                   Last Price(%)         D-1         D-7         MTD
    USGG10YR Index                2.148          -3       -6.95       -3.21
    USGG2YR Index                0.6646           0        1.51         0.4
    USGG10YR-USGG2YR             1.4834          -3       -8.46       -3.61
    GECU10YR Index                0.628          -1        -6.3        -1.6
    GECU2YR Index                -0.244           0        -1.8        -0.9
    GECU10YR - GECU2YR            0.872          -1        -4.5        -0.7
    NaN                             NaN         NaN         NaN         NaN
    NaN                             NaN         NaN         NaN         NaN
    NaN                      Last Price         D-1         D-7         MTD
    DXY Curncy                   97.494  0.00162324   0.0102796  0.00162324
    EURUSD Curncy                 1.095 -0.00309541  -0.0124459 -0.00309541
    GBPUSD Curncy                1.5587 -0.00224043   0.0017996 -0.00224043
    USDJPY Curncy                124.03 -0.00112876  -0.0062888 -0.00112876
    AUDUSD Curncy                0.7286  -0.0030104   0.0023387  -0.0030104
    NaN                             NaN         NaN         NaN         NaN
    NaN                             NaN         NaN         NaN         NaN
    NaN                             NaN         NaN         NaN         NaN
    NaN                      Last Price         D-1         D-7         MTD
    CLA COMDTY                    45.17  -0.0413837  -0.0468453  -0.0413837
    GCA COMDTY                   1089.4   -0.005205 -0.00683745   -0.005205
    C A COMDTY                    376.5   -0.012459  -0.0182529   -0.012459
    NaN                             NaN         NaN         NaN         NaN
    NaN                             NaN         NaN         NaN         NaN
    NaN                             NaN         NaN         NaN         NaN
    NaN                      Last Price         D-1         D-7         MTD
    CCHIN1U5 CBIT CURNCY            101       0.831      -0.501       0.831
    CINO1U5 CBIT CURNCY         186.757       3.249       5.545       3.249
    CMLAY1U5 CBIT CURNCY        152.159       4.173      10.277       4.173
    CTHAI1U5 CBIT CURNCY            109           2           1           2
    cruss1u5 cbit curncy        345.773       6.039       3.628       6.039
    CSOAF1U5 CBIT CURNCY        219.178      -0.717      -0.887      -0.717
    CTURK1U5 CBIT CURNCY        236.839      -1.569       6.529      -1.569
    CBRZ1U5 CBIT CURNCY         292.362       4.642      -4.678       4.642
    CKREA1U5 CBIT CURNCY         54.165       0.331      -0.751       0.331
    NaN                             NaN         NaN         NaN         NaN
    NaN                      Last Price         D-1         D-7         MTD
    NaN                              40           0      -0.713           0
    NaN                         114.915      -0.611      -0.215      -0.611
    NaN                          94.888      -0.057       2.668      -0.057

                          Unnamed: 5       As of: 2014-10-20 00:00:00  \
NaN NaN                          NaN          NaN                 NaN
    NaN                          NaN          NaN                 NaN
    NaN                          NaN          NaN                 NaN
    NaN                          QTD          YTD             Yr High
    MXWD Index           -0.00561115    0.0196586               442.7
    SPX Index              0.0150366    0.0190102             2130.82
    SX5E Index            -0.0214978     0.155405             3828.78
    DAX Index             -0.0437581     0.167066             12374.7
    NKY Index              0.0572691      0.17749               20868
    SHCOMP Index           -0.062378     0.120021             5166.35
    NaN                          NaN          NaN                 NaN
    NaN                          NaN          NaN                 NaN
    NaN                          QTD          YTD             Yr High
    USGG10YR Index             30.91        -2.32              2.6198
    USGG2YR Index              18.84         0.01              0.7393
    USGG10YR-USGG2YR           12.07        -2.33              2.0562
    GECU10YR Index              43.4          8.7               1.167
    GECU2YR Index                1.3        -13.4               0.027
    GECU10YR - GECU2YR          42.1         22.1               1.157
    NaN                          NaN          NaN                 NaN
    NaN                          NaN          NaN                 NaN
    NaN                          QTD          YTD             Yr High
    DXY Curncy            0.00982961    0.0800386              100.33
    EURUSD Curncy        -0.00173215   -0.0948917              1.3422
    GBPUSD Curncy          0.0447051  0.000641972              1.6886
    USDJPY Curncy         -0.0407966   -0.0342659              102.03
    AUDUSD Curncy         -0.0454605    -0.108746              0.9378
    NaN                          NaN          NaN                 NaN
    NaN                          NaN          NaN                 NaN
    NaN                          NaN          NaN                 NaN
    NaN                          QTD          YTD             Yr High
    CLA COMDTY             -0.154278    -0.158845               93.38
    GCA COMDTY            -0.0947316   -0.0805975                1321
    C A COMDTY            -0.0828258   -0.0720887              451.75
    NaN                          NaN          NaN                 NaN
    NaN                          NaN          NaN                 NaN
    NaN                          NaN          NaN                 NaN
    NaN                          QTD          YTD             Yr High
    CCHIN1U5 CBIT CURNCY       8.333       14.013             104.336
    CINO1U5 CBIT CURNCY       30.208       26.445             183.748
    CMLAY1U5 CBIT CURNCY      24.706       45.332             151.325
    CTHAI1U5 CBIT CURNCY         5.5            6             119.511
    cruss1u5 cbit curncy     -27.167     -126.441             628.765
    CSOAF1U5 CBIT CURNCY      11.862       29.295             240.794
    CTURK1U5 CBIT CURNCY      20.735       60.005             238.408
    CBRZ1U5 CBIT CURNCY       27.912       95.564             306.576
    CKREA1U5 CBIT CURNCY        2.08       -0.326              67.609
    NaN                          NaN          NaN                 NaN
    NaN                          QTD          YTD             Yr High
    NaN                        4.511        -27.5              73.833
    NaN                        6.397      -24.382              160.16
    NaN                        9.649       -2.852             130.438

                         2014-10-18 00:00:00 Unnamed: 9  2015-08-03 00:00:00
NaN NaN                                  NaN        NaN                  NaN
    NaN                                  NaN        NaN                  NaN
    NaN                                  NaN        NaN                  NaN
    NaN                               Yr Low   Low-high                  NaN
    MXWD Index                        392.13        NaN                  NaN
    SPX Index                        1862.49        NaN                  NaN
    SX5E Index                       2874.65        NaN                  NaN
    DAX Index                        8571.95        NaN                  NaN
    NKY Index                        14532.5        NaN                  NaN
    SHCOMP Index                     2187.67        NaN                  NaN
    NaN                                  NaN        NaN                  NaN
    NaN                                  NaN        NaN                  NaN
    NaN                               Yr Low        NaN                  NaN
    USGG10YR Index                    1.6407        NaN                  NaN
    USGG2YR Index                     0.3076        NaN                  NaN
    USGG10YR-USGG2YR                  1.1919        NaN                  NaN
    GECU10YR Index                     0.075        NaN                  NaN
    GECU2YR Index                     -0.283        NaN                  NaN
    GECU10YR - GECU2YR                 0.342        NaN                  NaN
    NaN                                  NaN        NaN                  NaN
    NaN                                  NaN        NaN                  NaN
    NaN                               Yr Low        NaN                  NaN
    DXY Curncy                        81.328        NaN                  NaN
    EURUSD Curncy                     1.0496        NaN                  NaN
    GBPUSD Curncy                     1.4632        NaN                  NaN
    USDJPY Curncy                    125.612        NaN                  NaN
    AUDUSD Curncy                     0.7269        NaN                  NaN
    NaN                                  NaN        NaN                  NaN
    NaN                                  NaN        NaN                  NaN
    NaN                                  NaN        NaN                  NaN
    NaN                               Yr Low        NaN                  NaN
    CLA COMDTY                         47.12        NaN                  NaN
    GCA COMDTY                          1086        NaN                  NaN
    C A COMDTY                         363.5        NaN                  NaN
    NaN                                  NaN        NaN                  NaN
    NaN                                  NaN        NaN                  NaN
    NaN                                  NaN        NaN                  NaN
    NaN                               Yr Low        NaN                  NaN
    CCHIN1U5 CBIT CURNCY              66.838        NaN                  NaN
    CINO1U5 CBIT CURNCY              127.162        NaN                  NaN
    CMLAY1U5 CBIT CURNCY              73.677        NaN                  NaN
    CTHAI1U5 CBIT CURNCY               80.84        NaN                  NaN
    cruss1u5 cbit curncy             221.835        NaN                  NaN
    CSOAF1U5 CBIT CURNCY                 159        NaN                  NaN
    CTURK1U5 CBIT CURNCY                 156        NaN                  NaN
    CBRZ1U5 CBIT CURNCY               123.25        NaN                  NaN
    CKREA1U5 CBIT CURNCY              45.491        NaN                  NaN
    NaN                                  NaN        NaN                  NaN
    NaN                               Yr Low        NaN                  NaN
    NaN                               31.335        NaN                  NaN
    NaN                                84.16        NaN                  NaN
    NaN                               56.493        NaN                  NaN

엑셀을 읽어오는 시점에서 최대한 영역을 잘 석택하겠습니다.
* C:K열을 선택합니다. parse_cols 인자를 통해 선택할 수 있습니다.
* 처음 3줄은 제외합니다. skiprows로 건너뛸 줄을 설정할 수 있습니다.
* 열제목은 각 표별로 설정해야 하기 때문에, 열제목 없음을 설정합니다.

In [132]:
국제0803 = pd.read_excel(경로, parse_cols="C:K", sskiprow=3, header=None)

빈줄을 삭제하겠습니다.

데이터프레임.dropna() : NaN가 포함된 모든 색인을 삭제합니다.

NaN 기준을 설정할 필요가 있을 것 같습니다. 모든 값이 NaN인 경우에만 삭제하도록 하겠습니다.

In [133]:
국제0803 = 국제0803.dropna(how='all')

In [134]:
# 색인 번호가 고르지 않게 되어 재설정합니다.
국제0803 = 국제0803.reset_index(drop=True)
국제0803

,0,1,2,3,4,5,6,7,8
0,Global Market Daily Update,NaN,NaN,NaN,NaN,NaN,As of:,2014-10-20 00:00:00,2014-10-18 00:00:00
1,Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
3,MSCI AC World,425.32,-0.00342097,0.0141638,-0.00342097,-0.00561115,0.0196586,442.7,392.13
4,S&P 500,2098.04,-0.00275686,0.0147028,-0.00275686,0.0150366,0.0190102,2130.82,1862.49
5,Euro Stoxx 50,3635.4,0.00963982,0.0348126,0.00963982,-0.0214978,0.155405,3828.78,2874.65
6,DAX,11443.7,0.0119135,0.0350313,0.0119135,-0.0437581,0.167066,12374.7,8571.95
7,Nikkei 225,20548.1,-0.00180372,0.00973017,-0.00180372,0.0572691,0.17749,20868,14532.5
8,상해,3622.91,-0.0111417,-0.0275537,-0.0111417,-0.062378,0.120021,5166.35,2187.67
9,Fixed Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Last Price(%),D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
11,UST 10Y,2.148,-3,-6.95,-3.21,30.91,-2.32,2.6198,1.6407
12,UST 2Y,0.6646,0,1.51,0.4,18.84,0.01,0.7393,0.3076
13,Spread(10Y-2Y),1.4834,-3,-8.46,-3.61,12.07,-2.33,2.0562,1.1919
14,Bund 10Y,0.628,-1,-6.3,-1.6,43.4,8.7,1.167,0.075
15,Bund 2Y,-0.244,0,-1.8,-0.9,1.3,-13.4,0.027,-0.283
16,Spread(10Y-2Y),0.872,-1,-4.5,-0.7,42.1,22.1,1.157,0.342
17,FX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
19,Dollar Index,97.494,0.00162324,0.0102796,0.00162324,0.00982961,0.0800386,100.33,81.328
20,EUR,1.095,-0.00309541,-0.0124459,-0.00309541,-0.00173215,-0.0948917,1.3422,1.0496
21,GBP,1.5587,-0.00224043,0.0017996,-0.00224043,0.0447051,0.000641972,1.6886,1.4632
22,JPY,124.03,-0.00112876,-0.0062888,-0.00112876,-0.0407966,-0.0342659,102.03,125.612
23,AUD,0.7286,-0.0030104,0.0023387,-0.0030104,-0.0454605,-0.108746,0.9378,0.7269
24,"* D-1,D-7,MTD,QTD,YTD 변동분은 USD 대비 해당 통화 가치의 변동",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Commodity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
27,WTI,45.17,-0.0413837,-0.0468453,-0.0413837,-0.154278,-0.158845,93.38,47.12
28,Gold,1089.4,-0.005205,-0.00683745,-0.005205,-0.0947316,-0.0805975,1321,1086
29,Corn,376.5,-0.012459,-0.0182529,-0.012459,-0.0828258,-0.0720887,451.75,363.5
30,CDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
32,China,101,0.831,-0.501,0.831,8.333,14.013,104.336,66.838
33,Indonesia,186.757,3.249,5.545,3.249,30.208,26.445,183.748,127.162
34,Malaysia,152.159,4.173,10.277,4.173,24.706,45.332,151.325,73.677
35,Thailand,109,2,1,2,5.5,6,119.511,80.84
36,Russia,345.773,6.039,3.628,6.039,-27.167,-126.441,628.765,221.835
37,South Africa,219.178,-0.717,-0.887,-0.717,11.862,29.295,240.794,159
38,Turkey,236.839,-1.569,6.529,-1.569,20.735,60.005,238.408,156
39,Brazil,292.362,4.642,-4.678,4.642,27.912,95.564,306.576,123.25
40,Korea,54.165,0.331,-0.751,0.331,2.08,-0.326,67.609,45.491
41,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
42,Japan,40,0,-0.713,0,4.511,-27.5,73.833,31.335
43,Italy,114.915,-0.611,-0.215,-0.611,6.397,-24.382,160.16,84.16
44,Spain,94.888,-0.057,2.668,-0.057,9.649,-2.852,130.438,56.493

In [61]:
# 첫 번째 표의 범위를 직접알아내 선택 하겠습니다.
국제0803[0:8]

,0,1,2,3,4,5,6,7,8
0,Global Market Daily Update,NaN,NaN,NaN,NaN,NaN,As of:,2014-10-20 00:00:00,2014-10-18 00:00:00
1,Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
3,MSCI AC World,425.32,-0.00342097,0.0141638,-0.00342097,-0.00561115,0.0196586,442.7,392.13
4,S&P 500,2098.04,-0.00275686,0.0147028,-0.00275686,0.0150366,0.0190102,2130.82,1862.49
5,Euro Stoxx 50,3635.4,0.00963982,0.0348126,0.00963982,-0.0214978,0.155405,3828.78,2874.65
6,DAX,11443.7,0.0119135,0.0350313,0.0119135,-0.0437581,0.167066,12374.7,8571.95
7,Nikkei 225,20548.1,-0.00180372,0.00973017,-0.00180372,0.0572691,0.17749,20868,14532.5

각 표의 시작과 끝을 알면 각각의 표를 추출할 수 있습니다.


*생각해 볼 점* : 각 푤의 영역을 나중에는 자동으로 탐지할 수 있을까요?

In [62]:
표범위목록 = [(0,8), (8,16), (16,23)]

In [69]:
원본 = 국제0803
표목록 = []
for 범위 in 표범위목록:
    시작, 끝 = 범위
    표 = 원본[시작:끝]
    표목록.append(표)

In [70]:
표목록[-1]

,0,1,2,3,4,5,6,7,8
8,상해,3622.91,-0.0111417,-0.0275537,-0.0111417,-0.062378,0.120021,5166.35,2187.67
9,Fixed Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Last Price(%),D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
11,UST 10Y,2.148,-3,-6.95,-3.21,30.91,-2.32,2.6198,1.6407
12,UST 2Y,0.6646,0,1.51,0.4,18.84,0.01,0.7393,0.3076
13,Spread(10Y-2Y),1.4834,-3,-8.46,-3.61,12.07,-2.33,2.0562,1.1919
14,Bund 10Y,0.628,-1,-6.3,-1.6,43.4,8.7,1.167,0.075
15,Bund 2Y,-0.244,0,-1.8,-0.9,1.3,-13.4,0.027,-0.283

같은 형식을 반복적으로 처리하기 위해서는 함수로 만들어 두면 편리합니다.

In [156]:
def 수출입은행국제(경로):
    # 엑셀파일 읽기
    원본 = pd.read_excel(경로, skiprow=3, parse_cols="C:K", header=None)
    
    # 빈줄 정리
    원본 = 원본.dropna(how='all')
    #빈 줄 정리로 고르지 않은 색인 재설정
    원본 = 원본.reset_index(drop=True)
    
    # 표 잘라내기
    표범위목록 = 표범위추출(원본)
    표목록 = []
    for 범위 in 표범위목록:
        시작, 끝 = 범위
        # 표의 길이가 2보다 작으면 제외
        if 끝 - 시작 < 2:
            continue
        
        표 = 원본[시작:끝]                
        표 = 표.reset_index(drop=True)
        # 색인제목 추출
        색인제목 = 표.ix[0,0]
        # 열제목 추출
        열제목 = 표.ix[1, 1:]
        열제목.name = '' # 기존의 값
        # 색인과 열제목 설정
        표 = 표[2:].set_index(0)
        표.index.name = 색인제목
        표.columns = 열제목
        
        표목록.append(표)
    return 표목록

def 표범위추출(프레임):
    # 표범위 = [(0,9), (9,17), (17,25), (25,30), (30,45)]
    제목인가 = 프레임.notnull().sum(1) == 1
    시작지점 = list(프레임[제목인가].index)
    끝지점 = 시작지점[1:] + [len(프레임)]
    표범위 = list(zip(시작지점, 끝지점))
    return 표범위

In [155]:
국제0803표 = 수출입은행국제(경로)
국제0803표[-1]

,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
CDS,,,,,,,,
China,101,0.831,-0.501,0.831,8.333,14.013,104.336,66.838
Indonesia,186.757,3.249,5.545,3.249,30.208,26.445,183.748,127.162
Malaysia,152.159,4.173,10.277,4.173,24.706,45.332,151.325,73.677
Thailand,109,2,1,2,5.5,6,119.511,80.84
Russia,345.773,6.039,3.628,6.039,-27.167,-126.441,628.765,221.835
South Africa,219.178,-0.717,-0.887,-0.717,11.862,29.295,240.794,159
Turkey,236.839,-1.569,6.529,-1.569,20.735,60.005,238.408,156
Brazil,292.362,4.642,-4.678,4.642,27.912,95.564,306.576,123.25
Korea,54.165,0.331,-0.751,0.331,2.08,-0.326,67.609,45.491
NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
Japan,40,0,-0.713,0,4.511,-27.5,73.833,31.335
Italy,114.915,-0.611,-0.215,-0.611,6.397,-24.382,160.16,84.16
Spain,94.888,-0.057,2.668,-0.057,9.649,-2.852,130.438,56.493

In [120]:
국제0804표 = 수출입은행국제('./data/koreaexim/international/Global+Market+Daily+Table%28값복사%29_0804.xls')
국제0804표[0]

,nan,nan,nan,nan,nan,nan,nan,nan
Global Market Daily Update,,,,,,,,
NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
MSCI AC World,424.92,-0.000940468,0.00632327,-0.00435822,-0.00654634,0.0186997,442.7,392.13
S&P 500,2093.32,-0.00224972,3.34408e-05,-0.00500038,0.012753,0.0167177,2130.82,1862.49
Euro Stoxx 50,3619.31,-0.00442592,0.018345,0.00517123,-0.0258285,0.150291,3828.78,2874.65
DAX,11456.1,0.00107919,0.0252517,0.0130056,-0.0427261,0.168325,12374.7,8571.95
Nikkei 225,20520.4,-0.00135049,0.00941862,-0.00315177,0.0558413,0.1759,20868,14532.5
상해,3756.55,0.0368875,0.0255373,0.0253349,-0.0277914,0.161335,5166.35,2187.67

In [100]:
equity = 국제0804표[0]
equity

,0,1,2,3,4,5,6,7,8
0,Global Market Daily Update,NaN,NaN,NaN,NaN,NaN,As of:,2014-10-20 00:00:00,2014-10-18 00:00:00
1,Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
3,MSCI AC World,424.92,-0.000940468,0.00632327,-0.00435822,-0.00654634,0.0186997,442.7,392.13
4,S&P 500,2093.32,-0.00224972,3.34408e-05,-0.00500038,0.012753,0.0167177,2130.82,1862.49
5,Euro Stoxx 50,3619.31,-0.00442592,0.018345,0.00517123,-0.0258285,0.150291,3828.78,2874.65
6,DAX,11456.1,0.00107919,0.0252517,0.0130056,-0.0427261,0.168325,12374.7,8571.95
7,Nikkei 225,20520.4,-0.00135049,0.00941862,-0.00315177,0.0558413,0.1759,20868,14532.5
8,상해,3756.55,0.0368875,0.0255373,0.0253349,-0.0277914,0.161335,5166.35,2187.67

첫 번째 열을 색인으로 설정하면 좋겠습니다.

In [105]:
equity[1:].set_index(0)

,1,2,3,4,5,6,7,8
0,,,,,,,,
Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
MSCI AC World,424.92,-0.000940468,0.00632327,-0.00435822,-0.00654634,0.0186997,442.7,392.13
S&P 500,2093.32,-0.00224972,3.34408e-05,-0.00500038,0.012753,0.0167177,2130.82,1862.49
Euro Stoxx 50,3619.31,-0.00442592,0.018345,0.00517123,-0.0258285,0.150291,3828.78,2874.65
DAX,11456.1,0.00107919,0.0252517,0.0130056,-0.0427261,0.168325,12374.7,8571.95
Nikkei 225,20520.4,-0.00135049,0.00941862,-0.00315177,0.0558413,0.1759,20868,14532.5
상해,3756.55,0.0368875,0.0255373,0.0253349,-0.0277914,0.161335,5166.35,2187.67

색인의 제목은 첫 번째 행, 첫번째 열 즉 (0,0) 의 값 입니다.

In [106]:
색인제목 = equity.ix[0,1]

In [113]:
경로 = './data/koreaexim/international/Global+Market+Daily+Table%28값복사%29_0803.xls'
국제0803표 = 수출입은행국제(경로)
국제0803표[-1]

,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
CDS,,,,,,,,
China,101,0.831,-0.501,0.831,8.333,14.013,104.336,66.838
Indonesia,186.757,3.249,5.545,3.249,30.208,26.445,183.748,127.162
Malaysia,152.159,4.173,10.277,4.173,24.706,45.332,151.325,73.677
Thailand,109,2,1,2,5.5,6,119.511,80.84
Russia,345.773,6.039,3.628,6.039,-27.167,-126.441,628.765,221.835
South Africa,219.178,-0.717,-0.887,-0.717,11.862,29.295,240.794,159
Turkey,236.839,-1.569,6.529,-1.569,20.735,60.005,238.408,156
Brazil,292.362,4.642,-4.678,4.642,27.912,95.564,306.576,123.25
Korea,54.165,0.331,-0.751,0.331,2.08,-0.326,67.609,45.491
NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
Japan,40,0,-0.713,0,4.511,-27.5,73.833,31.335
Italy,114.915,-0.611,-0.215,-0.611,6.397,-24.382,160.16,84.16
Spain,94.888,-0.057,2.668,-0.057,9.649,-2.852,130.438,56.493

표 범위를 자동으로 알아내기 위한 실험들을 수행합니다.

In [135]:
국제0803 = 국제0803[1:]
국제0803

,0,1,2,3,4,5,6,7,8
1,Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
3,MSCI AC World,425.32,-0.00342097,0.0141638,-0.00342097,-0.00561115,0.0196586,442.7,392.13
4,S&P 500,2098.04,-0.00275686,0.0147028,-0.00275686,0.0150366,0.0190102,2130.82,1862.49
5,Euro Stoxx 50,3635.4,0.00963982,0.0348126,0.00963982,-0.0214978,0.155405,3828.78,2874.65
6,DAX,11443.7,0.0119135,0.0350313,0.0119135,-0.0437581,0.167066,12374.7,8571.95
7,Nikkei 225,20548.1,-0.00180372,0.00973017,-0.00180372,0.0572691,0.17749,20868,14532.5
8,상해,3622.91,-0.0111417,-0.0275537,-0.0111417,-0.062378,0.120021,5166.35,2187.67
9,Fixed Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Last Price(%),D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
11,UST 10Y,2.148,-3,-6.95,-3.21,30.91,-2.32,2.6198,1.6407
12,UST 2Y,0.6646,0,1.51,0.4,18.84,0.01,0.7393,0.3076
13,Spread(10Y-2Y),1.4834,-3,-8.46,-3.61,12.07,-2.33,2.0562,1.1919
14,Bund 10Y,0.628,-1,-6.3,-1.6,43.4,8.7,1.167,0.075
15,Bund 2Y,-0.244,0,-1.8,-0.9,1.3,-13.4,0.027,-0.283
16,Spread(10Y-2Y),0.872,-1,-4.5,-0.7,42.1,22.1,1.157,0.342
17,FX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
19,Dollar Index,97.494,0.00162324,0.0102796,0.00162324,0.00982961,0.0800386,100.33,81.328
20,EUR,1.095,-0.00309541,-0.0124459,-0.00309541,-0.00173215,-0.0948917,1.3422,1.0496
21,GBP,1.5587,-0.00224043,0.0017996,-0.00224043,0.0447051,0.000641972,1.6886,1.4632
22,JPY,124.03,-0.00112876,-0.0062888,-0.00112876,-0.0407966,-0.0342659,102.03,125.612
23,AUD,0.7286,-0.0030104,0.0023387,-0.0030104,-0.0454605,-0.108746,0.9378,0.7269
24,"* D-1,D-7,MTD,QTD,YTD 변동분은 USD 대비 해당 통화 가치의 변동",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Commodity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
27,WTI,45.17,-0.0413837,-0.0468453,-0.0413837,-0.154278,-0.158845,93.38,47.12
28,Gold,1089.4,-0.005205,-0.00683745,-0.005205,-0.0947316,-0.0805975,1321,1086
29,Corn,376.5,-0.012459,-0.0182529,-0.012459,-0.0828258,-0.0720887,451.75,363.5
30,CDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
32,China,101,0.831,-0.501,0.831,8.333,14.013,104.336,66.838
33,Indonesia,186.757,3.249,5.545,3.249,30.208,26.445,183.748,127.162
34,Malaysia,152.159,4.173,10.277,4.173,24.706,45.332,151.325,73.677
35,Thailand,109,2,1,2,5.5,6,119.511,80.84
36,Russia,345.773,6.039,3.628,6.039,-27.167,-126.441,628.765,221.835
37,South Africa,219.178,-0.717,-0.887,-0.717,11.862,29.295,240.794,159
38,Turkey,236.839,-1.569,6.529,-1.569,20.735,60.005,238.408,156
39,Brazil,292.362,4.642,-4.678,4.642,27.912,95.564,306.576,123.25
40,Korea,54.165,0.331,-0.751,0.331,2.08,-0.326,67.609,45.491
41,NaN,Last Price,D-1,D-7,MTD,QTD,YTD,Yr High,Yr Low
42,Japan,40,0,-0.713,0,4.511,-27.5,73.833,31.335
43,Italy,114.915,-0.611,-0.215,-0.611,6.397,-24.382,160.16,84.16
44,Spain,94.888,-0.057,2.668,-0.057,9.649,-2.852,130.438,56.493

In [136]:
국제0803 = 국제0803.reset_index(drop=True)

In [137]:
국제0803.notnull()

        0      1      2      3      4      5      6      7      8
0    True  False  False  False  False  False  False  False  False
1   False   True   True   True   True   True   True   True   True
2    True   True   True   True   True   True   True   True   True
3    True   True   True   True   True   True   True   True   True
4    True   True   True   True   True   True   True   True   True
5    True   True   True   True   True   True   True   True   True
6    True   True   True   True   True   True   True   True   True
7    True   True   True   True   True   True   True   True   True
8    True  False  False  False  False  False  False  False  False
9   False   True   True   True   True   True   True   True   True
10   True   True   True   True   True   True   True   True   True
11   True   True   True   True   True   True   True   True   True
12   True   True   True   True   True   True   True   True   True
13   True   True   True   True   True   True   True   True   True
14   True   True   True   True   True   True   True   True   True
15   True   True   True   True   True   True   True   True   True
16   True  False  False  False  False  False  False  False  False
17  False   True   True   True   True   True   True   True   True
18   True   True   True   True   True   True   True   True   True
19   True   True   True   True   True   True   True   True   True
20   True   True   True   True   True   True   True   True   True
21   True   True   True   True   True   True   True   True   True
22   True   True   True   True   True   True   True   True   True
23   True  False  False  False  False  False  False  False  False
24   True  False  False  False  False  False  False  False  False
25  False   True   True   True   True   True   True   True   True
26   True   True   True   True   True   True   True   True   True
27   True   True   True   True   True   True   True   True   True
28   True   True   True   True   True   True   True   True   True
29   True  False  False  False  False  False  False  False  False
30  False   True   True   True   True   True   True   True   True
31   True   True   True   True   True   True   True   True   True
32   True   True   True   True   True   True   True   True   True
33   True   True   True   True   True   True   True   True   True
34   True   True   True   True   True   True   True   True   True
35   True   True   True   True   True   True   True   True   True
36   True   True   True   True   True   True   True   True   True
37   True   True   True   True   True   True   True   True   True
38   True   True   True   True   True   True   True   True   True
39   True   True   True   True   True   True   True   True   True
40  False   True   True   True   True   True   True   True   True
41   True   True   True   True   True   True   True   True   True
42   True   True   True   True   True   True   True   True   True
43   True   True   True   True   True   True   True   True   True

In [139]:
제목인가 = 국제0803.notnull().sum(1) == 1

In [146]:
시작지점 = list(국제0803[제목인가].index)
시작지점

[0, 8, 16, 23, 24, 29]

끝지점은 다음표의 시작지점입니다. 표 전체길이를 마지막에 추가해야 합니다.

In [149]:
끝지점 = 시작지점[1:] + [len(국제0803)]
끝지점

[8, 16, 23, 24, 29, 44]

시작과 끝을 쌍으로 만들겠습니다.

In [151]:
표범위 = list(zip(시작지점, 끝지점))
표범위

[(0, 8), (8, 16), (16, 23), (23, 24), (24, 29), (29, 44)]

# 오늘 내용 정리

read_excel 시 최대한 범위를 잘 선택 해야겠다.

 1. 빈 줄은 정리해야지
 1. 각 표를 잘라내야지 - 범위는 일단 수동으로 정하자
 1. 전체 작업이 복잡하니까 함수로 정리하자

추가 도전 : 범위 자동탐지

 1. notnull().sum(1) 으로 시작지점 구하기
 1. 시작지점으로 끝지점 구하기
 1. zip으로 시작지점과 끝지점 합치기
 1. 파이썬 모듈로 생성해 팀 공유