In [1]:
import pandas

In [3]:
ncgames = pandas.read_excel('./data/ncgames.xlsx')
ncgames = ncgames.set_index('제목')
출시 = ncgames['출시']
출시.index

Index(['리니지', '리니지2', '시티 오브 히어로', '길드워', '아이온', '리니지 이터널'], dtype='object', name='제목')

In [4]:
출시.values

array([ 1998.,  2003.,  2004.,  2006.,  2008.,    nan])

In [5]:
# 정수가 아닌 색인은 '라벨' 색인이라고 하겠습니다. 라벨 색인이 부여되어도 정수 색인을 사용할 수 있음
출시['리니지']
# Index(['리니지', '리니지2', '시티 오브 히어로', '길드워', '아이온', '리니지 이터널'], dtype='object', name='제목')

1998.0

In [6]:
출시[0]
# array([ 1998., 2003., 2004., 2006., 2008., nan])

1998.0

In [7]:
# 시리즈는 파이썬의 표준자료 구조 리스트 + 사전 + 플러스 알파라 할 수 있습니다.
# 파이썬의 리스트로는 각 연도가 어느 타이틀에 해당하는지 알기 어렵습니다.
출시 = [1998, 2003, 2004, 2006, 2008]

In [8]:
# 그래서 사전 형식으로 정보를 저장하는 것이 필요합니다.
출시 = {'리니지': 1998, '리니지2': 2003, '시티 오브 히어로': 2004, '길드워':2006, '아이온':2008}

In [9]:
출시['리니지']
# 사전타입으로 변환하면 '출시[0]'와 같이 기존 리스트 기능을 사용할 수 없음 안됨

1998

In [11]:
# 범위 조회가 가능
출시 = ncgames['출시']
# 정수범위와 다르게 마지막 값을 포함합니다.
출시['리니지2':'길드워']

제목
리니지2         2003.0
시티 오브 히어로    2004.0
길드워          2006.0
Name: 출시, dtype: float64

In [12]:
## 연습
# NC다이노스 야구팀의 2015년 타자 기록을 읽어, '홈런' 열을 선택해 다음을 수행

# 1. '홈런' 열을 선택해 변수 홈런으로 저장. 이때 선수명을 색인으로 설정
# 2. '나성범' 선수의 홈런 기록을 선택해 출력합니다.
# 3. 나성범, 테임즈 선수의 홈런 기록을 선택해 출력합니다.
# 4. 처음 5명의 기록을 선택해 출력합니다.

NC2015 = pandas.read_excel('./data/NC Dinos 2015.xlsx')
NC2015 = NC2015.set_index('선수명')
홈런 = NC2015['홈런']

In [13]:
홈런['나성범']

28

In [14]:
홈런[['나성범', '테임즈']]

선수명
나성범    28
테임즈    47
Name: 홈런, dtype: int64

In [15]:
홈런[:5]

선수명
테임즈    47
나성범    28
박민우     3
이호준    24
김종호     4
Name: 홈런, dtype: int64

In [16]:
# 시리즈를 직접 구성할 수도 있고, 구성해야 하는 경우도 있을 수 있습니다.
경기결과 = pandas.Series(['승', '패', '승'])

# 기본정수 색인 외의 색인을 사용해 생성 할 수 있습니다.
# oandas.Series(값목록, index=색인값)
경기결과 = pandas.Series(['승', '패', '승'], index=['2016-11-01', '2016-11-02', '2016-11-03'])

In [17]:
### 데이터 프레임 ###
# 데이터프레임의 하나의 열을 선택하면 시리즈가 된다.
# ncgames
# 단 특정색인을 선택하는 방법은 시리즈와 차이가 있습니다. 색인과 열 두 방향이 있는데 기본선택은 열에 대해 수행
# ncgames['리니지'] 에러 발생
ncgames.ix['리니지']

장르     MMORPG
출시       1998
플랫폼        PC
Name: 리니지, dtype: object

In [18]:
# 시리즈와 다르게 열 목록의 색인을 가집니다.
ncgames.columns

Index(['장르', '출시', '플랫폼'], dtype='object')

In [19]:
# 색인과 열 선택시, 대상을 지정해야 한다는 점을 유의해야 하지만, 그 외 시리즈와 무척 유사합니다.
# 라벨 색인도 기본 정수 색인을 여전히 접근할 수 있음. 범위도 가능
ncgames.ix[0]

장르     MMORPG
출시       1998
플랫폼        PC
Name: 리니지, dtype: object

In [20]:
ncgames.ix[:3]

               장르      출시 플랫폼
제목
리니지        MMORPG  1998.0  PC
리니지2       MMORPG  2003.0  PC
시티 오브 히어로  MMORPG  2004.0  PC

In [21]:
ncgames.ix['리니지':'리니지2']

          장르      출시 플랫폼
제목
리니지   MMORPG  1998.0  PC
리니지2  MMORPG  2003.0  PC

In [22]:
# 한가지 유의하실 사항은 정수 범위 선택은 기본적으로 색인에 대해 수행됨
ncgames[:3]

               장르      출시 플랫폼
제목
리니지        MMORPG  1998.0  PC
리니지2       MMORPG  2003.0  PC
시티 오브 히어로  MMORPG  2004.0  PC

In [23]:
# 색인과 열을 동시에 선택하는 것도 가능
# Dataframe.ix[색인조건, 열조건]
ncgames.ix['리니지', '출시']

1998.0

In [24]:
ncgames.ix[['리니지', '리니지2'], '출시']

제목
리니지     1998.0
리니지2    2003.0
Name: 출시, dtype: float64

In [25]:
ncgames.ix[['리니지','리니지2'], ['출시', '장르']]

          출시      장르
제목
리니지   1998.0  MMORPG
리니지2  2003.0  MMORPG

In [26]:
ncgames.ix['리니지':'리니지2', ['출시', '장르']]

          출시      장르
제목
리니지   1998.0  MMORPG
리니지2  2003.0  MMORPG

In [27]:
ncgames.ix[1:-1, ['출시', '플랫폼']]

               출시 플랫폼
제목
리니지2       2003.0  PC
시티 오브 히어로  2004.0  PC
길드워        2006.0  PC
아이온        2008.0  PC

In [28]:
ncgames.ix[:, ['출시', '플랫폼']] # = ncgames [['출시', '플랫폼']]

               출시 플랫폼
제목
리니지        1998.0  PC
리니지2       2003.0  PC
시티 오브 히어로  2004.0  PC
길드워        2006.0  PC
아이온        2008.0  PC
리니지 이터널       NaN  PC

In [29]:
ncgames.ix[:,1:-1]

               출시
제목
리니지        1998.0
리니지2       2003.0
시티 오브 히어로  2004.0
길드워        2006.0
아이온        2008.0
리니지 이터널       NaN

In [31]:
## 연습
# NC다이노스 야구팀의 2015년 타자 기록을 읽어 다음을 수행
NC2015 = pandas.read_excel('./data/NC Dinos 2015.xlsx')
NC2015 = NC2015.set_index('선수명')
# 1. 선수명, 타석, 안타, 홈런 열을 선택
# 1. 나성범, 테임즈 선수 기록 서냍ㄱ
# 1. 나성범 테임즈 선수 홈런 안타기록 제시순서대로 ㅓㄴ택
# 1. 두 번째 색인 부터 6번째 색인 기록까지 선택
# 1. 두 번째 열부터 여섯 번째 열까지 기록을 선택
# 1. 나성범 선수 이후의 기록을 선택
# 1. 타석 열 이후의 열들을 모두 선택합니다.

In [32]:
NC2015[[ '타석', '안타', '홈런']]

      타석   안타  홈런
선수명
테임즈  595  180  47
나성범  622  184  28
박민우  617  158   3
이호준  518  132  24
김종호  486  125   4
조영훈  146   35   8
손시헌  508  108  13
이종욱  504  118   5
모창민  239   62   6
지석훈  466  111  11
용덕한   49   12   0
최재원  102   21   2
박정준   24    8   0
김태군  474  107   6
조평호   22    8   1
이창섭    8    0   0
김준완   54   10   0
강구성    5    1   0
강민국    2    0   0
김태진    3    0   0

In [33]:
NC2015.ix[['나성범', '테임즈']]

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,,,
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.39,4.46
테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.52,11.73

In [34]:
NC2015.ix[['나성범', '테임즈'], ['홈런', '안타']]

     홈런   안타
선수명
나성범  28  184
테임즈  47  180

In [35]:
NC2015.ix[1:6]

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,,,
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52
이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19
김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03
조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00

In [36]:
NC2015.ix[:,1:6]

      경기   타석   타수   안타  홈런
선수명
테임즈  142  595  472  180  47
나성범  144  622  564  184  28
박민우  141  617  520  158   3
이호준  131  518  449  132  24
김종호  133  486  424  125   4
조영훈  103  146  124   35   8
손시헌  140  508  440  108  13
이종욱  125  504  440  118   5
모창민  103  239  214   62   6
지석훈  137  466  415  111  11
용덕한   50   49   42   12   0
최재원  114  102   85   21   2
박정준   19   24   21    8   0
김태군  144  474  421  107   6
조평호   22   22   22    8   1
이창섭   15    8    5    0   0
김준완   30   54   44   10   0
강구성    4    5    5    1   0
강민국    1    2    2    0   0
김태진    1    3    3    0   0

In [37]:
NC2015.ix['나성범':]

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,,,
나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52
이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19
김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03
조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00
손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85
이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84
모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76
지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51
용덕한,NC,50,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.310,0.685,0.326,0.44
최재원,NC,114,102,85,21,2,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30
박정준,NC,19,24,21,8,0,2,2,0,5,0,0.500,0.381,0.458,0.476,0.934,0.417,0.25
김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25
조평호,NC,22,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18
이창섭,NC,15,8,5,0,0,0,0,3,3,0,0.000,0.000,0.375,0.000,0.375,0.286,-0.01
김준완,NC,30,54,44,10,0,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04
강구성,NC,4,5,5,1,0,0,0,0,0,0,0.200,0.200,0.200,0.400,0.600,0.242,-0.04
강민국,NC,1,2,2,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06
김태진,NC,1,3,3,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.09

In [38]:
NC2015.ix[:,'타석':]

,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,
테임즈,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73
나성범,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46
박민우,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52
이호준,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19
김종호,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03
조영훈,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00
손시헌,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85
이종욱,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84
모창민,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76
지석훈,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51
용덕한,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.310,0.685,0.326,0.44
최재원,102,85,21,2,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30
박정준,24,21,8,0,2,2,0,5,0,0.500,0.381,0.458,0.476,0.934,0.417,0.25
김태군,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25
조평호,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18
이창섭,8,5,0,0,0,0,3,3,0,0.000,0.000,0.375,0.000,0.375,0.286,-0.01
김준완,54,44,10,0,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04
강구성,5,5,1,0,0,0,0,0,0,0.200,0.200,0.200,0.400,0.600,0.242,-0.04
강민국,2,2,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06
김태진,3,3,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.09

In [40]:
# 시리즈와 어떤 값을 비교하면 반복문과 조전문의 작성없이 각각의 값에 대해 비교를 수행해 참/거짓을 판정해줍니다
홈런 > 5
# 각 색인에 대해 참/거짓 값은 색인을 걸러내는 필터처럼 활용할수 있습니다.
홈런많이 = 홈런 > 5 # 시리즈
홈런[홈런많이]

선수명
테임즈    47
나성범    28
이호준    24
조영훈     8
손시헌    13
모창민     6
지석훈    11
김태군     6
Name: 홈런, dtype: int64

In [41]:
# 색인만 일치한다면, 임의의 참/거짓 값을 사용할 수 있습니다.
관심선수들 = 홈런[:5].index
관심선수들

Index(['테임즈', '나성범', '박민우', '이호준', '김종호'], dtype='object', name='선수명')

In [43]:
아무이유없는필터 = pandas.Series([False, False, True, True, False], index=관심선수들)
# 색인만 일치한다면 필터를 적용할 수 있습니다.
홈런[:5][아무이유없는필터]

선수명
박민우     3
이호준    24
Name: 홈런, dtype: int64

In [44]:
# 데이터프레임에서도 가능하겠죠
이십일세기게임 = ncgames['출시'] > 2000
ncgames[이십일세기게임]

               장르      출시 플랫폼
제목
리니지2       MMORPG  2003.0  PC
시티 오브 히어로  MMORPG  2004.0  PC
길드워        MMORPG  2006.0  PC
아이온        MMORPG  2008.0  PC

In [45]:
## 연습
# 개인취향을 반영한 불리언필터를 생서해, 개인취향에 맞는 게임정보를 선택
# 개취게임 = pandas.Series([True, True, False, True, False, False], index=ncgames.index)
# ncgames[개취게임]
# 내 답
import numpy
개취게임 = pandas.Series(numpy.random.random(6)> 0.5, index=ncgames.index)
ncgames[개취게임]

               장르      출시 플랫폼
제목
시티 오브 히어로  MMORPG  2004.0  PC
길드워        MMORPG  2006.0  PC

In [46]:
# 값을 변경하면서 살펴보겠습니다.
ncgames['장르'] = '대규모 온라인 롤플레잉'
# 일부 값 변경도 가능
ncgames.ix[['리니지', '리니지2'], '장르'] = '옛날게임'

In [47]:
# 새로운자료를 추가하는 것도 가능합니다.
# 데이터프레임의 자료는 여러개의 값을 가지고 있으므로 여러개의 값을 닮을 수 있는 시리즈형태로 구성해야
레드나이츠 = pandas.Series({'장르': 'RPG', '출시':2016, '플랫폼':'모바일'})
ncgames.ix['레드나이츠'] = 레드나이츠
ncgames

                     장르      출시  플랫폼
제목
리니지                옛날게임  1998.0   PC
리니지2               옛날게임  2003.0   PC
시티 오브 히어로  대규모 온라인 롤플레잉  2004.0   PC
길드워        대규모 온라인 롤플레잉  2006.0   PC
아이온        대규모 온라인 롤플레잉  2008.0   PC
리니지 이터널    대규모 온라인 롤플레잉     NaN   PC
레드나이츠               RPG  2016.0  모바일

In [48]:
## 연습
# NC 다이노스 기록에 대해 다음을 수행합니다.
# 1. 홈런을 다섯개보다 많이 친 선수들의 기록만 선택
# 2. 타석, 안타, 홈런 열만 선택해 새로운변수에 저장한 다음 새로운 선수 한 명의 기록 추가
NC2015[NC2015['홈런'] > 5]
부분기록 = NC2015[['타석', '안타', '홈런']]
박석민 = pandas.Series({'타석': 410, '안타':121, '홈런':30})
부분기록.ix['박석민'] = 박석민
부분기록

/usr/local/lib/python3.5/dist-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      타석   안타  홈런
선수명
테임즈  595  180  47
나성범  622  184  28
박민우  617  158   3
이호준  518  132  24
김종호  486  125   4
조영훈  146   35   8
손시헌  508  108  13
이종욱  504  118   5
모창민  239   62   6
지석훈  466  111  11
용덕한   49   12   0
최재원  102   21   2
박정준   24    8   0
김태군  474  107   6
조평호   22    8   1
이창섭    8    0   0
김준완   54   10   0
강구성    5    1   0
강민국    2    0   0
김태진    3    0   0
박석민  410  121  30

In [49]:
# Append로 기능을 수행할 수도 있습니다.
출시 = ncgames['출시']
신작 = pandas.Series({'X' : 2017})
출시.append(신작)

리니지          1998.0
리니지2         2003.0
시티 오브 히어로    2004.0
길드워          2006.0
아이온          2008.0
리니지 이터널         NaN
레드나이츠        2016.0
X            2017.0
dtype: float64

In [50]:
# 복수 값 Append 가능
신작들 = pandas.Series({'HA': 2016, 'fairy':2015})
출시.append(신작들)

리니지          1998.0
리니지2         2003.0
시티 오브 히어로    2004.0
길드워          2006.0
아이온          2008.0
리니지 이터널         NaN
레드나이츠        2016.0
HA           2016.0
fairy        2015.0
dtype: float64

In [51]:
# 시리즈[색인] = 값 - 시리즈 변경됨
# 시리즈.append(값) - 시리즈 변경 안됨 => 시리즈 = 시리즈.append(값) 해야 변경됨

In [52]:
# 열 추가도 원칙은 동일
ncgames['지역'] = pandas.Series({'리니지':'한국, 중국, 미국', '아이온': '한국, 대만, 미국'})

In [53]:
#시리즈와 마찬가지로 이어붙이기가 가능하고 시리즈에서와 유사한 논의가 가능

# 데이터프레임.ix[색인] = 시리즈
# 데이터프레임[열] = 시리즈
# 데이터프레임.append(데이터프레임)

In [54]:
# 데이터프레임만들기
# 데이터프레임은 2차원이라 구성이 복잡합니다. 열별로 색인의 값을 지정해주는 방식입니다.
신작게임들 = pandas.DataFrame({'장르': {'X': 'RPG', 'Y':'RPG'},
'플랫폼':{'X': '모바일', 'Y':'모바일'}})
ncgames.append(신작게임들)

                     장르          지역      출시  플랫폼
리니지                옛날게임  한국, 중국, 미국  1998.0   PC
리니지2               옛날게임         NaN  2003.0   PC
시티 오브 히어로  대규모 온라인 롤플레잉         NaN  2004.0   PC
길드워        대규모 온라인 롤플레잉         NaN  2006.0   PC
아이온        대규모 온라인 롤플레잉  한국, 대만, 미국  2008.0   PC
리니지 이터널    대규모 온라인 롤플레잉         NaN     NaN   PC
레드나이츠               RPG         NaN  2016.0  모바일
X                   RPG         NaN     NaN  모바일
Y                   RPG         NaN     NaN  모바일

In [ ]:
출시 = ncgames['출시'].copy()
출시 = 출시.drop('블루나이츠') # 등호를 해줘야 원본이 바뀜